<link rel="stylesheet" href="/css/style.css">
<script defer src="/js/album.js"></script>
<script defer src="/js/card.js"></script>
<div class="py-5 text-center">
  <blockquote class="lead">
    <p>
      Понятно, что от скуки не всегда нужно избавляться и не всегда с ней нужно справляться.
      Но если вы чувствуете, что очень надо, у нас есть несколько советов, чем вы можете заняться:).
    </p>
  </blockquote>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="wrapper">
        <div class="popup">
          <div class="popup-inside">
            <div class="backgrounds">
              <div class="background"></div>
              <div class="background background2"></div>
              <div class="background background3"></div>
              <div class="background background4"></div>
              <div class="background background5"></div>
              <div class="background background6"></div>
            </div>
          </div>
          <div class="content position-relative">
            <div class="content-wrapper">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
